.back-history{
    display: flex;
    img{
        height: 30px;
        width: 30px;
        margin-top: -5px;
        margin-right: 5px;
        background-color: white;
        padding: 2%;
        border-radius: 50%;
        margin-left: auto;
        order: 2;
    }

}
.no-visible{
    display: none;
  }