<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Detalles de zona</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Unit
                                    </th>
                                    <th>
                                        Last Data
                                    </th>
                                    <th>
                                        Last Data Date
                                    </th>
                                    <th>
                                        Monitoring Time
                                    </th>
                                    <th>
                                        Sensor Depth
                                    </th>
                                    <th>
                                        Depth Unit
                                    </th>
                                    <th>
                                        Sensor Type
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor='let measure of zone_measures'>
                                        <td>
                                            {{measure.id}}
                                        </td>
                                        <td>
                                            {{measure.name}}
                                        </td>
                                        <td>
                                            {{measure.unit}}
                                        </td>
                                        <td>
                                            {{measure.lastData}}
                                        </td>
                                        <td>
                                            {{measure.lastDataDate}}
                                        </td>
                                        <td>
                                            {{measure.monitoringTime}}
                                        </td>
                                        <td>
                                            {{measure.sensorDepth}}
                                        </td>
                                        <td>
                                            {{measure.depthUnit}}
                                        </td>
                                        <td>
                                            {{measure.sensorType}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>